.animLink{
  position: relative;
  overflow: hidden;
}

.animLink::after{
  content: "";
  display: block;
  background-color: var(--color-salmon);
  left: 0;
  width: 0%;
  height: 3px;
  /* transform: scaleX(0); */
  transition: 250ms ease-in-out;
}

.animLink:hover::after{
  width: 100%;
  transform: translateX(101%);
}

.gloss{
  background: #F2C3B9;
  background: linear-gradient(120deg,rgba(242, 195, 185, 1) 0%, rgba(245, 245, 245, 1) 18%, rgba(242, 195, 185, 1) 27%, rgba(245, 223, 220, 1) 39%, rgba(242, 195, 185, 1) 48%, rgba(250, 238, 235, 1) 62%, rgba(242, 195, 185, 1) 71%, rgba(242, 195, 185, 1) 86%, rgba(245, 231, 228, 1) 91%, rgba(242, 195, 185, 1) 100%);
}

@media (max-width:380px){
  .small{
    font-size: 2.5rem !important;
  }
}