.animLink{
  position: relative;
  overflow: hidden;
}

.animLink::after{
  content: "";
  display: block;
  background-color: var(--color-salmon);
  left: 0;
  width: 0%;
  height: 3px;
  /* transform: scaleX(0); */
  transition: 250ms ease-in-out;
}

.animLink:hover::after{
  width: 100%;
  transform: translateX(101%);
}