@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@font-face {
  font-family: "Alta";
  src: url("./assets/fonts/Alta_Typeface/Alta_light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Alta";
  src: url("./assets/fonts/Alta_Typeface/Alta_regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Alta";
  src: url("./assets/fonts/Alta_Typeface/Alta_caption.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@theme {
  --color-sea: #97B3AE;
  --color-pond: #D2E0D3;
  --color-light-pink: #F0DDD6;
  --color-salmon: #f2C3B9;
  --color-salmon2: #f39c8a;
  --color-wood-brown: #D6CBBF;
  --color-gray-sky: #F0EEEA;
  --color-white-almost: #fbfbfb;
  --font-alta: Alta, serif;
  --font-raleway: "Raleway", sans-serif;
}